.center {
    width: 70%;
    box-sizing: border-box;
    border-left: solid 1px #EBD9C5;
    border-right: solid 1px #EBD9C5;
    
}

.content {
    padding: 20px 2%;
    
    a {
        font-weight: normal;
    }
}

@media (max-width: 1440px) {
    .center {
        width: 60%;
    }
}