.documents {
  li {
    margin: 15px 0;
    a {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      img,
      span {
        display: block;
      }

      img {
        margin-right: 5px;
      }
    }
  }
}
