.documents {
  li {
    margin: 15px 0;
    a {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      img,
      span {
        display: block;
        max-width: 80%;
      }

      img {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 850px) and (min-width: 769px) {
  .documents li {
    padding: 0;
    font-size: 11px;
  }
}