.article {
  h3 {
    text-align: center;
    color: #934607;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  p {
    text-align: justify; 
  }
  .source {
    text-align: end;
  }
}
