main {
  display: flex;
  flex-wrap: nowrap;
  
  border-top: solid 1px #e3dbcf;
  font-family: Verdana, sans-serif;
  font-size: 12px;

  a {
    font-weight: bold;
    color: #0c1902;
    &:visited {
      color: #0c1902;
    }

    &:hover {
      color: #e1000e;
    }
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    flex-wrap: wrap;


    .left-aside,
    .right-aside,
    .center {
      width: 100%;
    }

    .left-aside {
      order: 1;
    }
    .right-aside {
      order: 2;
    }

    .center {
      order: 0;
    }
  }
}
