.left-aside {
  width: 15%;

  a {
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 10px 15px;
    list-style: none;
    background: #f6e3cb;
  }
}

@media (max-width: 1440px) {
  .left-aside {
      width: 20%;
  }
}