.left-aside {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    
    a {
            
        &:visited { 
            color: black;
         } 

        &:hover {
            color: #e1000e;
        }
    }
}