.search {
  box-sizing: border-box;

    &:after {
      content: " ";
      display: block;
      background: linear-gradient(to right, #fbf3e6, #b99356, #fbf3e6);
      height: 1px;
      width: 100%;
    }
  

  h3 {
    font-weight: 200;
    text-transform: uppercase;
  }

  form {
    display: flex;
    margin-bottom: 30px;

    input[type="search"] {
      width: 80%;
    }
  }
}
