.justice-search {
  display: block;
  box-sizing: content-box;
  width: auto;
  padding: 2px;
  height: 20px;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: #b79165;
  border: 1px solid #ebd9c5;
  float: right;
  margin: 15px 0;
}
