.aside-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        display: block;
        max-width: 300px;
        text-decoration: none;
        font-weight: normal;
        &:hover {
            text-decoration: underline;
        }
    }
    embed {
        width: 100%;
    }
}