.breadcrumbs {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    color: #934607;

    li {

        list-style: none;

        a {
            font-weight: normal;
            color: #934607;
        }

        & > span {
            margin: 0 4px;
        }
    }
}